* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9bf0e0;
}

.validation-form{
    margin: 140px 798px;
    padding: 10px 10px;
    color: white;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}

.validation-form h1 {
    text-align: center;
}

.text{
    width: 300px;
    height: 25px;
}

.button{
    width: 300px;
    height: 45px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(134.59deg, #00FFD1 0%, #00367E 118.65%);
    border-radius: 1px;
    cursor: pointer;
}

.button:hover{
    background: linear-gradient(134.59deg, #00367E 0%, #00FFD1 118.65%);
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}

.error{
    width: 0;
    height: 0;
    color: red;
}